
  .total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  .actions {
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
  }
  
  .actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  }

  .cartItem{
    border-bottom: 1px solid rgb(224, 224, 224);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title{
    
    font-weight: 700;
    font-size: 1.2em;
  }

  .price{
    color: #8a2b06;
    font-size: 1.2em;
    font-weight: 700;
    padding: 0;
    margin: 0;
  }

  .deleteWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .delete{
    border: none;
    background-color: #df9d92;
    color: rgb(20, 20, 20);
    padding: 0 5px;
    border-radius: 5px;
    margin: 0;
    margin-left: 20px;
    transition: 500ms;
  }

  .delete:hover{
    background-color: #ff6347;
    color: rgb(20, 20, 20);
  }

  .delete:focus{
    outline: none;
  }