.navbar{
    width: 100%;
    /* background-color: honeydew; */
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: fixed;
    z-index: 2000;
    background-color: honeydew;
}

.contentWrapper{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand{
   text-decoration: none;
   font-weight: 800;
   font-size: 1.8em;
   color: rgb(20, 20, 20);
   display: flex;
   align-items: center;
   transition: 500ms;
}

.navLinksArea{
    display: flex;
    align-items: center;
}

.brand:hover{
    column-rule: #ff6347;
 }
 
.span{
    color: #ff6347;
}

.menuLink{
    margin: 0 15px;
    color: rgb(20, 20, 20);
    text-decoration: none;
    transition: 300ms;
}

.menuLink:hover{
    color: #ff6347;
}

.cartLink{
    background-color: #ff6347;
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: none;
}

.cartLink:hover{
    color: white;
    background-color: #f0492c; 
}

.cartBadge{
    color: rgb(20, 20, 20);
    background-color: white;
}

.navLinksAreaForMobile{
    transition: 500ms;
    display: none;
    background-color: white;
    color:rgb(20, 20, 20);
    z-index: 2000;
    height: 500px;
    position: absolute;
    width: 70%;
    position: fixed;
    -webkit-box-shadow: 1.5px 2.5px 15.5px -1px #ddd;
    -moz-box-shadow: 1.5px 2.5px 15.5px -1px #ddd;
    box-shadow: 1.5px 2.5px 15.5px -1px #ddd;
}

.mobileRightArea{
    display: none;
}

.closeBtn{
    float: right;
    margin: 7px;
    background-color: #ffd8d1;
    font-size: 2em !important;
}

@media screen and (max-width: 468px){
    .brand{
        font-size: 1.3em;
    }

    .navLinksArea{
        display: none;
    }

    .contentWrapper{
        width: 95%;
    }

    .navLinksAreaForMobile{
        display: inline-block;
    }
    .menuItems{
        display: flex;
        flex-direction: column;
    }

    .menuLink{
        margin-top: 30px;
    }
    .menuLink:hover{
        background-color: honeydew;
        padding: 7px 15px;
    }

    .mobileRightArea{
        display: flex;
        align-items: center;
    }
    .cartLink{
        margin-right: 20px;
    }
}

